html, body {
    font-family: 'Dosis', sans-serif;
    font-size: 22px;
}
h1, h4, h5{
    font-weight: bold;
}
.thin {
    font-weight: 300;
}
.col-light {
    color: #7e7e7e;
}
#app {
    margin: 45px auto;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
}

@media screen and (max-width: 480px) {
    .container {
        padding: 0 25px;
    }
}
#add-todo {
    background: #f3f3f3;
}
#add-todo,
#todo-items,
#completed-items {
    padding: 25px;
}
button.btn {
    font-weight: bold;
}
.list-group-item button.btn {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
}

.completed {
    text-decoration: line-through;
}